@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #fff;
  color: #333333;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
}

#main #startBtn {
  background-color: transparent;
  border: 1px solid #6e88fd;
  color: #333333;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: 0 1rem;
}

#main #startBtn:hover {
  background-color: #6e88fd;
  color: #fff;
}

#main .instructionModal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: #fff;
  width: 60rem;
  padding: 1.5rem 5.5rem;
  -webkit-box-shadow: 5px 0px 5px -1px #ebebeb, -5px 0px 5px -1px #ebebeb;
          box-shadow: 5px 0px 5px -1px #ebebeb, -5px 0px 5px -1px #ebebeb;
  -webkit-animation: instructionModalAnimation 0.5s ease-in-out;
          animation: instructionModalAnimation 0.5s ease-in-out;
  display: none;
  z-index: 1;
}

@-webkit-keyframes instructionModalAnimation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes instructionModalAnimation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#main .instructionModal h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

#main .instructionModal ol li {
  font-size: 2rem;
  line-height: 1cm;
}

#main .instructionModal .instructionBtn {
  position: relative;
  margin: 1rem;
  text-align: center;
}

#main .instructionModal .instructionBtn #exitBtn {
  background-color: #6e88fd;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1.1rem 3rem;
}

#main .instructionModal .instructionBtn #continueBtn {
  background-color: transparent;
  border: 1px solid #6e88fd;
  color: #333333;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: 0 1rem;
}

#main .instructionModal .instructionBtn #continueBtn:hover {
  background-color: #6e88fd;
  color: #fff;
}

#main .instructionActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main .questionModal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: #fff;
  width: 60rem;
  padding: 1.5rem 5.5rem;
  -webkit-box-shadow: 5px 0px 5px -1px #ebebeb, -5px 0px 5px -1px #ebebeb;
          box-shadow: 5px 0px 5px -1px #ebebeb, -5px 0px 5px -1px #ebebeb;
  -webkit-animation: instructionModalAnimation 0.5s ease-in-out;
          animation: instructionModalAnimation 0.5s ease-in-out;
  z-index: 2;
  display: none;
}

#main .questionModal h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

#main .questionModal ol li {
  font-size: 2rem;
  line-height: 1cm;
  background-color: #ffff0018;
  border: 1px solid #97a9fd;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#main .questionModal .submitButton {
  position: relative;
  margin: 1rem;
  text-align: center;
}

#main .questionModal .submitButton #submitBtn {
  background-color: transparent;
  border: 1px solid #6e88fd;
  color: #333333;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: 0 1rem;
}

#main .questionModal .submitButton #submitBtn:hover {
  background-color: #6e88fd;
  color: #fff;
}

#main .questionModalActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 25%;
  }
}
/*# sourceMappingURL=style.css.map */